 @font-face {
   font-family: Lato;
   /* Имя шрифта */
   src: url(../fonts/Lato-Light.ttf);
   /* Путь к файлу со шрифтом */
 }

 @font-face {
   font-family: 'Sanchez';
   /* Имя шрифта */
   src: url(../fonts/Sanchez-Regular.ttf);
   /* Путь к файлу со шрифтом */
 }

 ::selection {
   background: none;
 }

 * {
   -webkit-tap-highlight-color: transparent;
 }

 html {
   background: linear-gradient(to bottom, #141e30, #243b55) no-repeat;
   background-attachment: fixed;
   font-family: 'Lato', sans-serif;
 }

 body {
   height: 100vh;
   margin: 0;
   position: relative;
 }

 a {
   color: #fff;
   text-decoration: none;
 }

 h1 {
   font-size: 3vmax;
 }

 h2 {
   font-size: 2vmax;
 }

 h1, h2, h3 {
   color: #fff;
   margin: 0;
   padding: 0;
 }

 img {
   display: block;
   -khtml-user-select: none;
   -o-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
 }

 p {
   margin: 0px;
   color: #fff;
 }

 label {
   color: #dedede;
 }

 .green {
   color: #14dea8;
 }

 #page {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
 }

 .header_h1 {
   width: 100%;
   display: flex;
   font-size: 3vmax;
   justify-content: center;
   align-items: center;
 }
 .header_h1{
   text-transform: uppercase !important;
 }
 .home_points_info {
   box-sizing: border-box;
   width: 20vmax;
   border-radius: 4vmax;
   margin: 1vmax .5vmax;
   justify-content: center;
   padding: 1vmax;
   flex: none;
   align-items: center;
    height: 5vmax;
   display: flex;
   flex-flow: column;
   border: .4vmax solid #00d5db;
   border-bottom: .1vmax solid #00d5db;
   border-top: .1vmax solid #00d5db;
 }
.compain-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vmax;
  padding: 2vmax 0;
  box-sizing: border-box;
}
.compain-wrapper .menu{
  margin-bottom: 0;
}
 .info_points {
   white-space: nowrap;
   color: #00d5db;
   display: flex;
   align-items: center;
 }

 .info_points>span {
  font-weight: bold;
 }

 .menu {
   border-bottom: .4vmax solid #00b8e7;
   border-top: .4vmax solid #00b8e7;
   border-radius: 4vmax;
   padding: 4vmax 0vmax;
   box-sizing: border-box;
   margin-bottom: 3vmax;
   width: 100%;
 }

 .menu_items_wrapper {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
 }

 .appname {}

 .menu_items {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: space-around;
   width: 20vmax;
   border: .6vmax solid #00d5db;
   border-bottom: .1vmax solid #00d5db;
   border-top: .1vmax solid #00d5db;
   border-radius: 20px;
   flex: none;
   margin: .5vmax .5vmax;
   height: 15vmax;
   padding: 1vmax;
   box-sizing: border-box;
 }

 .points_home, .lvl_home {
   z-index: 2;
   color: white;
   position: absolute;
   right: 0;
   top: 0;
   width: 100px;
   height: 35px;
   text-align: right;
 }

 .appname, .sub_appname {
   border-radius: 4vmax;
   border-bottom: .4vmax solid #00d5db;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   color: #00ade9;
   font-weight: bold;
   font-size: 3vmax;
 }

 .home_points_info_wrapper {
   display: flex;
   margin-bottom: 3vmax;
   justify-content: center;

   flex-flow: row wrap;
 }

 .appname {
   padding: 1vmax;
 }

 .sub_appname {
   font-size: 2vmax;
   margin-top: -4vmax;
   margin-bottom: 1vmax;
   padding: .3vmax 3vmax;
   height: 7vmax;
   align-items: flex-end;
 }

 .main_link:nth-child(even) {
   left: 5%;
 }

 .lvl_home {
   left: 0;
   text-align: left;
 }

 /*main menu*/


 .flex_res {
   display: flex;
   padding: 5px;
   box-sizing: border-box;
   align-items: center;
 }


 .main_text1 {
   color: #00d2dc;
   font-weight: bold;
   width: 100%;
   display: flex;
   flex-flow: row;
   align-items: flex-start;
   letter-spacing: -1px;
   white-space: nowrap;
   justify-content: center;
 }

 .flex_res>img {
   padding: 0 5px;
 }

 .w_rank, .l_rank {
   width: 5vmax;
   margin-bottom: 1vmax;
 }

 .wrank {
   font-size: 2vmax;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   flex-flow: column;
 }

 .menu_link {
   color: #00d2dc;
   font-size: 2vmax;
   font-weight: bold;
 }

 .main-text {
   display: flex;
   margin: 10px 0;
   flex-flow: row;
   float: left;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 25px;
   height: 20vh;
 }

 .head_main_text {
   display: flex;
   width: 100%;
   justify-content: center;
   margin-bottom: 1vmax;
 }

 .logo_block {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row-reverse;
   width: 80vw;
   margin: 0 auto;
 }

 .practice {
   display: flex;
   border: 4px solid #00d5db;
   border-radius: 20px;
   align-items: center;
   justify-content: center;
 }

 .main-text h2 {
   text-align: center;
   display: flex;
   width: 160px;
   justify-content: center;
   flex-flow: column;
   box-sizing: border-box;
 }

 .settings {
   display: flex;
   justify-content: center;
   align-items: center;
 }


 /*inputs*/
 input[type="checkbox"] {
   width: 30px;
   height: 30px;
   background: #252e35;
   display: inline-block;
   vertical-align: middle;
 }

 input {
   text-align: center;
   width: 40px;
   display: inline-block;
   background: #252e35;
   border: none;
   outline: none;
   color: white;
   padding: 10px;
 }

 /*footer*/
 .footer .f1, .footer .f2 {
   padding: .5vmax;
   text-align: center;
   font-weight: bold;
 }

 .footer .f1 {
   font-size: 3vmax;
   color: #00d2dc;
 }

 .footer .f2 {
   color: #00ade9;
   font-size: 2vmax;
 }

 /* page 2  (practice)*/
 .header {
   margin-bottom: 20px;
   height: 8vmax;
   display: flex;
   flex-flow: row;
   position: relative;
   align-items: center;
 }

 .header a {
   position: absolute;
   margin: 0 2vmax;
 }

 .header h1 {
   color: #00ade9;
   font-weight: bold;
 }

 .practice {
   padding: 10px 15px;
 }

 .practice h1 {
   margin: 0 auto;
   display: block;
   width: 60%;
   padding: 5px;
   text-align: center;
   padding-bottom: 20px;
 }

 .circle {
   box-shadow: 5px 5px 15px;
   background: #7fd7bf;
   border: 2px solid white;
   padding: 15px;
   width: 150px;
   margin: 15px auto;
   height: 150px;
   top: 100px;
 }

 .circle:active {
   box-shadow: 1px 1px 15px;
   ;
 }

 .prev {
   height: 3.5vmax;
 }

 .range1 {
   padding: 5px;
   margin: 5px;
   margin-bottom: 20px;
 }

 .range2 {
   padding: 5px;
 }

 .renge3 {
   padding: 5px;
 }


 .world-rank, .current-level {
   display: flex;
 flex-flow: column;
 font-size: 2vmax;
 width: 45%;
 box-sizing: border-box;
 }

 .bottom-rank {
   padding: .5vmax .5vmax  1vmax  .5vmax ;
   margin-top: 1vmax;
   box-sizing: border-box;
   border: .4vmax solid #00b8e7;
   border-bottom: .1vmax solid #00b8e7;
   border-top: .1vmax solid #00b8e7;
   border-radius: 2.5vmax;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .status {
   padding: 0 5vmax;
box-sizing: border-box;
display: flex;
justify-content: space-between;
 }
.array_of_levels{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vmax;
  box-sizing: border-box;
}
.array_of_levels h2{
      margin: 2vmax 0;
}
.array_of_levels .prev{
  position: absolute;
right: 2vmax;
}
 .levels {
   display: flex;
width: 100%;
justify-content: center;
height: 5vmax;
border: .5vmax solid #00b8e7;
border-bottom: .1vmax solid #00b8e7;
border-top: .1vmax solid #00b8e7;
margin-bottom: 2vmax;
border-radius: 2.5vmax;
overflow: hidden;
align-items: center;
position: relative;
 }
.current_level{
  width: 100%;
  text-align: center;
}
 .lessons_wrapper .levels:last-child {
   display: none !important;
 }
  .lessons_wrapper {
    padding: 5vmax;
  }
  .lessons_wrapper .h2_wrap_scrool{
    display: flex;
  left: 5vmax;
  position: relative;
  align-self: flex-start;
  overflow: hidden;
  flex: none;
  width: calc(100% - 11vmax );
  height: 100%;
  justify-content: center;
  align-items: center;
  }
.lessons_wrapper .levels {
  justify-content: flex-start;
}
.lessons_wrapper .levels marquee{
  width: 100%;
position: absolute;
left: 0;
}
  .lessons_wrapper .levels h2{
      white-space: nowrap;
      display: flex;
      position: absolute;
      left: 1vmax;
  }
  .lessons_wrapper .lvlcont{
    display: flex;
height: 100%;
box-sizing: border-box;
align-items: center;
text-align: left;
font-size: 2vmax;
color: #fff;
justify-content: flex-start;
position: relative;
width: 100%;
  }
.finish{
  height: 3vmax;
position: absolute;
right: 2vmax;
}
 .leftblue, .leftyellow, .leftgreen {
   background: #00ade9;
height: 100%;
width: 5vmax;
display: flex;
overflow: hidden;
z-index: 123;
left: 0vmax;
position: absolute;
justify-content: center;
font-size: 3vmax;
align-items: center;
color: #fff;
font-weight: bold;
 }

 .leftyellow {
   background: #00bbd5;
 }


 .lvlcont {
   display: flex;
 height: 100%;
 box-sizing: border-box;
 align-items: center;
 text-align: left;
 font-size: 2vmax;
 color: #fff;
 overflow: hidden;
 white-space: nowrap;
 width: calc(100% - 13vmax);
 justify-content: flex-start;
 }

 .lvlcont p {
   width: 80%;
 }

 /*Lessons*/
 .lessons {
   border-bottom: 3px solid rgba(255, 255, 255, 0.13);
   display: block;
   background: rgba(0, 0, 0, 0.5);
   width: 90%;
   color: white;
   margin: 15px auto;
   display: flex;
   flex-flow: row;
   position: relative;
 }

 less {
   position: absolute;
   left: 0;
   top: 0;
   height: 63px;
   width: 63px;
   display: flex;
   justify-content: center;
   font-size: 35px;
   box-sizing: border-box;
   align-items: center;
   color: #000;
   background: #00d2dc;
 }

 .titleless {
   text-overflow: ellipsis;
   overflow-x: hidden;
   white-space: nowrap;
   max-width: calc(100% - 160px);
   width: calc(100% - 135px);
   display: inline-block;
   padding: 19px 0;
   padding-left: 15px;
   font-size: 21px;
   position: relative;
   margin-left: 60px;
 }


 .vidlik_h2 {
   box-sizing: border-box;
   padding: 20px;
 }

 .practiceNow {
   display: block;
   padding-top: 10px;
   margin-bottom: -10px;
   text-align: center;
 }

 .practiceNow div {
   border: 2px solid #33638c;
   padding: 5px;
   font-size: 14px;
   display: inline-block;
 }


 .historys_wrapper {
   display: flex;
border: .4vmax solid #00b8e7;
border-top: .1vmax solid #00b8e7;
border-bottom: .1vmax solid #00b8e7;
border-radius: 2.5vmax;
box-sizing: border-box;
position: relative;
overflow: hidden;
margin: 2vmax 5vmax;
display: flex;
align-items: center;
    height: 4.9vmax;
 }
.historys_wrapper .prev{
  position: absolute;
  right: 2vmax;
}
 .historys_wrapper .history {
   background: #00afea;
   height: 5vmax;
  position: relative;
 }


.btn_hover::after{
  position: absolute;
  content: '';
  height: 100%;
  transform: rotateZ(20deg);
  width: 2vmax;
  height: 11vmax;
  top: -3vmax;
  transition: all .3s linear;
  left: -4vmax;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}
.btn_hover:hover::after{
    left: 100vmax;
}
 .historys_wrapper span {
   width: 100%;
 font-size: 2.5vmax;
 position: absolute;
 z-index: 2;
 text-align: center;
 }

 .bottom-page {
   margin-top: 85%;
 }

 .modal {
   display: block;
   width: 100%;
   height: 40%;
   background: rgba(0, 0, 0, 0.5);
 }
.delete_key{
  color: #00b8e7;
font-weight: bold;
}
 .result {
   text-align: center;
   width: 41vmax;
   flex: none;
   height: 8vmax;
   box-sizing: border-box;
   background: rgba(0, 184, 231, 0.25882352941176473);
   color: white;
   padding: 10px 25px;
   border: .5vmax solid #00b8e7;
   border-bottom: .1vmax solid #00b8e7;
   border-top: .1vmax solid #00b8e7;
   border-radius: 1.5vmax;
   border-radius: 3vmax;
   font-size: 4vmax;
   white-space: nowrap;
 }
.Name_level{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 3vmax;
  text-align: center;
  padding: 0 2vmax;
  box-sizing: border-box;
}
span.progress_status{
  font-size: 3vmax;
  position: fixed;
  top: 1.5vmax;
  right: 1.5vmax;
  font-family: monospace;
  line-height: 3vmax;
  color: #fff;
}
 .resultat {
   display: flex;
   flex-flow: column;
   align-items: center;
 }
.txt_left{
  display: flex;
  justify-content: space-between;
  margin: 2vmax 0;
  align-items: center;
}

 .num {
   text-align: center;
 margin: 3vmax auto 5vmax;
 font-size: 5vmax;
 color: #ffffff;
 }

 #equalPractice {
   position: absolute;
   bottom: -10px;
   left: calc(50% - 10px);
   color: white;
   font-size: 25px;
 }

 #num_equalPractice {
   position: relative;
 }

 .text_main_style {
   font-size: 21px;
   color: white;
 }

 .text_h1_style {
   font-weight: lighter;
   font-size: 35px;
 }

 .timebar {
   display: flex;
   width: 200px;
   color: #fff;
   margin: 0 auto;
   padding: 0px;
   height: 3px;
   border-radius: 5px;
   background: #252e35;
   position: fixed;
   bottom: 0px;
   left: 0;
   width: 100%;
 }

 .timebar_inside {
   display: flex;
   width: 100%;
   background: #00ade9;
   border-radius: 10px;
 }
.keys{
  margin: 2vmax auto;
  display: flex;
  flex-flow: row wrap;
  width: 43vmax;
  justify-content: center;
  box-sizing: border-box;
}

.keys .key{
  border: .1vmax solid #00b8e7;
  border-left: .4vmax solid #00b8e7;
  border-right: .4vmax solid #00b8e7;
  cursor: pointer;
  border-radius:3vmax;
  font-size: 5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vmax;
  margin: 1.5%;
  flex: none;
  height: 8vmax;
}
.keys .key:active{
  background: rgba(0, 184, 231, 0.25882352941176473);
}
 .buttons {
   display: flex;
   justify-content: space-around;
   width: 100%;
   flex-flow: row wrap;
 }
.btn_img_group{
  display: flex;
width: 100%;
flex-flow: row wrap;
padding: 0 5vmax;
box-sizing: border-box;
justify-content: space-around;
align-items: center;
}
.btn_img{
  width: 10vmax;
height: 10vmax;
flex: none;
display: flex;
}
.btn_img>img{
  width: 100%;
  height: 100%;
  padding: 2vmax;
box-sizing: border-box;
}
 .btn {
   display: flex;
   background: rgba(21, 27, 31, 0);
   border-radius: 50%;
   outline: none;
   color: white;
   padding: 20px;
   cursor: pointer;
   font-size: 24px;
   margin: 10px;
 }

 .btn:hover {
   border-color: #42b33b;
 }

 .btn img {
   width: 70px;
   height: 70px;
 }

 .home_ico {
   position: relative;
   top: -40px;
 }

 p.home {
   position: absolute;
   width: 100px;
   padding: 40px 0px;
   z-index: -1;
 }
.btn_img .update_arrow{
  padding: 2.5vmax;
}
 .btn.home {
   width: 100px;
   position: relative;
   height: 100px;
   border: none;
   margin: 0 auto;
 }

 .btn svg {
   width: 100%;
   fill: #3b83b3;
   height: 100%;
 }

 .btn svg:hover {
   fill: #42b33b;
 }

 .vh5_10 {
   font-size: 5vh;
 }

 .vh4_8 {
   font-size: 4vh;
 }

 .vh2_4 {
   font-size: 2vh;
 }

 .vh1_2 {
   font-size: 1vh;
 }

 .cbalink {
   display: none !important;
 }

 .need_help {
   -webkit-animation: zoom_h 1s;
   animation: zoom_h 1s;
   opacity: 1;
 }

 .iftrue, .iffalse {
   display: flex;
   position: fixed;
   top: calc(50% - 100px);
   left: calc(50% - 100px);
   background: #4fde14;
   width: 200px;
   height: 200px;
   color: #fff;
   align-items: center;
   margin: 0 auto;
   font-size: 60px;
   justify-content: center;
   -webkit-animation: zoom 1s;
   animation: zoom 1s;
   opacity: 0;
   border-radius: 4.4vmax;
 }

 .iffalse {
   background: #ff0000;
 }

 .ng-hide {
   transform: scale(0);
   opacity: 0;
   width: 0;
   height: 0;
   font-size: 0;
   left: 50px;
   top: 50px;
 }
.not_allowed{
  color: #f6412d;
padding: 100px 0;
font-weight: bold;
font-size: 3vmax;
text-align: center;
}
 .Settings {
   display: flex;
   justify-content: center;
   flex-flow: column;
   margin: 0 auto;
 }

 .lang_settings {
   display: flex;
 flex-flow: row wrap;
 align-items: center;
 width: 100%;
 margin: 5vmax 0;
 justify-content: space-between;
 color: #fff;
 }
 .lang_settings .lang{
   font-size: 3vmax;
   cursor: pointer;
   border: .4vmax solid rgba(0,0,0,0);
   border-top: .1vmax solid rgba(0,0,0,0);
   border-bottom: .1vmax solid rgba(0,0,0,0);
   box-sizing: border-box;
   padding: 2vmax;
   box-sizing: border-box;
   border-radius: 1.5vmax;
   text-shadow: 0px 0px 15px white;
 }
 .active_lang {
   border: .4vmax solid #00ade9 !important;
   border-top: .1vmax solid #00ade9 !important;
   border-bottom: .1vmax solid #00ade9 !important;
   box-sizing: border-box;
   padding: 2vmax;
   box-sizing: border-box;
   border-radius: 1.5vmax;
   text-shadow: 0px 0px 15px white;
 }
.update_app{
  position: relative;
  overflow: hidden;
  border: .4vmax solid #00ade9 !important;
  border-top: .1vmax solid #00ade9 !important;
  border-bottom: .1vmax solid #00ade9 !important;
  box-sizing: border-box;
  padding: 2vmax;
   border-radius: 1.5vmax;
   text-align: center;
  font-size: 2vmax;

}
 .audio_settings {
   display: flex;
   flex-flow: column;
   width: 100%;
   margin: 0 auto;
 }


 .audio {
   display: flex;
   justify-content: space-between;
   color: white;
   font-size: 4vh;
   margin: 10px 0;
 }

 input[type=range] {
   -webkit-appearance: none;
 width: calc(100% - 2vmax);
 height: 1.6vmax;
 box-sizing: border-box;
 z-index: 2;
 background: transparent;
 position: relative;
 border-radius: 2.5vmax;
 }

 input[type=range]:focus {
   outline: none;
 }
.input_wrapper{
   margin: 1.8vmax 0;
  position: relative;
}
 input[type=range]::-webkit-slider-runnable-track {
   position: relative;
   display: flex;
   height: .84vmax;
   cursor: pointer;
   animate: 0.2s;
   border:.1vmax solid #fff;
   border-radius: 1vmax;
 }
 .input_inside1, .input_inside2{
   left: 12px;
 width: calc(100% - 5vmax);
 height: 0.6vmax;
 top: calc(50% - .3vmax);
 box-sizing: border-box;
 border-radius: 2.5vmax;
 position: absolute;
 }

 input[type=range]::-webkit-slider-thumb {
   position: absolute;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   height: 4.6vmax;
   width:1.6vmax;
   border-radius: 1.5vmax;
   background: #fff;
   z-index: 2;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -2vmax;
 }

.layout-positioner {
  padding: 0 5vmax;
  box-sizing: border-box;
}
 .audio_on {
   background: transparent;
border: .4vmax solid #00b8e7;
border-bottom: .1vmax solid #00b8e7;
border-top: .1vmax solid #00b8e7;
border-radius: 2.5vmax;
padding: 1vmax;
outline: none;
cursor: pointer;
width: 15vmax;
 }

 #audio_on:focus, #audio_on:hover {
   background: #66a997;
 }

 .status_result {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;

 }

 .on {
   color: #fff;
   font-weight: bold;
   font-size: 2vmax;
 }

 .off {
   color: #9c9c9c;
   font-size: 2vmax;
   font-weight: bold;
 }


 @-webkit-keyframes zoom {
   0% {
     -webkit-transform: scale(0.2);
     transform: scale(0.2);
     opacity: 1;
   }

   70% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }

   100% {
     opacity: 0;
   }
 }

 @keyframes zoom {
   0% {
     -webkit-transform: scale(0.2);
     transform: scale(0.2);
     opacity: 1;
   }

   70% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }

   100% {
     opacity: 0;
   }
 }

 @-webkit-keyframes zoom_h {
   0% {
     -webkit-transform: scale(0.2);
     transform: scale(0.2);
     opacity: 1;
   }

   70% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }

   100% {
     opacity: 1;
   }
 }

 @keyframes zoom_h {
   0% {
     -webkit-transform: scale(0.2);
     transform: scale(0.2);
     opacity: 1;
   }

   70% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }

   100% {
     opacity: 1;
   }
 }

 .vidlik_wrapper {
   display: flex;
   flex-flow: column;
   z-index: 2;
   top: 0;
   left: 0;
   justify-content: center;
   align-items: center;
   position: absolute;
   width: 100%;
   font-size: 30vmax;
   color: #dedede;
   height: 100%;
   background: linear-gradient(to bottom, #141e30, #243b55) no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
 }

 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 .svg_help {
   width: 20vh;
   height: 20vh;
   right: 0px;
   position: relative;
 }

 .lessons_for_practice {
   color: #ababab;
   width: 80%;
   margin: 0 auto;
 }

 .title_lessons {
   text-align: center;
   margin: 3vmax 0;
   color: #fff;
   font-size: 3vmax;
 }

 .text_lessons {
   padding: 3vmax;
   width: 100%;
   color: white;
   box-sizing: border-box;
   font-size: 2vmax;
 }

 .more {
   /* display: inherit; */
   padding: 0 1vmax;
   text-decoration: underline;
   font-weight: bold;
 }
.keys .notpoints:active{
  border-color: #e70000;
box-shadow: inset 0px 0px 11px #e70000;
animation: notpoints .4s linear;
}

@keyframes notpoints {

  60% {
    box-shadow: inset 0px 0px 11px #e70000;
      border-color: #e70000;
    opacity: 1;
  }

}
 .time_left {
   display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: -3.5vmax;
font-size: 2vmax;
color: #00aeea;
font-weight: bold;
width: 100%;
 }
.info_verblike{
  font-size: 4vmax;
}
 .verblike_tree {
   background-image: url(../img/tree.svg);
   width: 26vmax;
   height: 26vmax;
 }

 .verblike_tree_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   color: #fff;
 }

 .info_block {
   text-align: center;
   margin-top: 3vmax;
   color: white;
   padding: 2vmax;
   border-top: .4vmax solid #00ade9;
 }

 .fixed {
   text-align: left;
   padding: 2vmax;
   font-size: 1.5vmax;
   box-sizing: border-box;
 }
 .flex {
   display: flex;
   width: 100%;
   justify-content: center;
 }
 .input_hint{
   position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 2vmax auto;
 box-sizing: border-box;
 }
 .result_header{
   font-size: 3vmax;
   text-align: center;
 }
 #hint_comp{

 cursor: pointer;
 }
  #hint_comp>img{
    width: 100%;
    height: 70%;
  }


.compain_info{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
 .compain-wrapper #hint {
   position: absolute;
   right: 0;
   box-sizing: border-box;
 }

 #hint {
   display: flex;
   justify-content: center;
   padding: 20px;
 }

 .compain-wrapper #hint .svg_help {
   height: 50%;
   width: 100%;
   position: absolute;
   right: 0;
   top: 5%;
 }

 .need_help>span {
   color: white;
   position: absolute;
   bottom: 5%;
   right: 5%;
 }
 .img_wrapper .index_svg {
   width: 10vmax !important;
   height: 10vmax !important;
 }


 .column {
   display: flex;
   flex-flow: column;
   padding: 0 20px;
   box-sizing: border-box;
 }
.header_lesson{
  font-size: 2vmax;
  text-align: center;
}
 .gradient_line {
   background: linear-gradient(to right, #00edd1 0%, #00aeea 100%);
   height: .5vmax;
   width: 100vw;
 }

 #current_progress {
   font-family: monospace;
 }

 .revers {
   transform: rotateY(180deg);
 }

 .points_svg {
   width: 3vmax;
height: 3vmax;
margin: 0 .5vmax;
 }

 .update_settings {
   color: #fff;
   display: flex;
   justify-content: center;
   width: 100%;
   max-width: 400px;
   margin: 20px auto;
   padding: 20px;
   box-sizing: border-box;
   font-weight: bold;
 }

 .keys .compain_stat{
   font-size: 2vmax;
text-align: center;

 }
  .keys .compain_stat.column{
    flex-flow: column;
padding: 0;
box-sizing: content-box;
  }
  .keys .compain_stat.column .row{
    flex-flow: row;
        white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .keys .compain_stat img{
   width: 2.2vmax;
   height: 2.2vmax;
 }
.modal_buy{
      background: linear-gradient(to bottom, #141e30, #243b55) no-repeat;
  position: fixed;
  top: 0;
  z-index: 22212;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2vmax;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: center;
}
.modal_buy .points_svg {
    width: 5vmax;
    height: 5vmax;
    margin-left: 1vmax;
}
.btn_buy {
  border: 0.1vmax solid #00b8e7;
border-left: .8vmax solid #00b8e7;
border-right: .8vmax solid #00b8e7;
cursor: pointer;
border-radius: 3vmax;
font-size: 5vmax;
display: flex;
justify-content: space-between;
align-items: center;
font-family: monospace;
width: 100%;
font-size: 2vmax;
margin: 1vmax 0;
position: relative;
box-sizing: border-box;
height: 8vmax;
overflow: hidden;
padding: 0 2vmax;
}
.getPoints{
  font-size: 5vmax;
  display: flex;
  align-items: center;
}


.close_img{
  width: 3vmax;
  height: 3vmax;
  position: fixed;
  z-index: 12;
  background: url(../img/close.svg) no-repeat;
  background-size: cover;
  padding: .2vmax;
  top: 1vmax;
  right: 2vmax;
}
.upgrade_btn{
  display: flex;
  padding: 0 2vmax;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: .1vmax solid #00b8e7;
  border-bottom: .4vmax solid #00b8e7;
  border-top: .4vmax solid #00b8e7;
  border-radius: 4vmax;
  margin: 0 auto;
  height: 5vmax;
  overflow: hidden;
  position: relative;
  width: 20vmax;

}
.upgrade_btn img{
  height: 70%;
  margin: 0 1vmax;

}
.Congratulations{
  text-align: center;
}
.flex_upgrade{
  display: flex;
  justify-content: center;
  align-items: center;
}
.brain_upgrade{
  display: flex;
justify-content: center;
align-items: center;
height: 50vmax;
}
.upgrade_btn.notpoints:active{
  border-color: red;
  box-shadow:inset 0 0 1vmax red;
}
.brain_upgrade>img{
  max-width: 256px;
}
