 @font-face {
     font-family: Lato;
     /* Имя шрифта */
     src: url(../fonts/Lato-Light.ttf);
     /* Путь к файлу со шрифтом */
 }
 @font-face {
     font-family: 'Sanchez';
     /* Имя шрифта */
     src: url(../fonts/Sanchez-Regular.ttf);
     /* Путь к файлу со шрифтом */
 }
 ::selection {
     background: none;
 }
 *{
    -webkit-tap-highlight-color: transparent;
}
 html {
     background: linear-gradient(to bottom, #0a0e11, #313b44) no-repeat;
     background-attachment: fixed;
     height: 100vh;
     font-family: 'Lato', sans-serif;
 }
 body {
     height: 100vh;
     margin: 0;
     position: relative;
 }
 a {
     text-decoration: none;
 }
 h1 {
     font-size: 4vh;
 }
 h2 {
     font-size: 3vh;
 }
 h1, h2 {
     font-weight: lighter;
     text-align: center;
     padding: 0;
     color: #ececec;
     margin: 0;
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 120%;
 }
 img {
     display: block;
     -khtml-user-select: none;
     -o-user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     user-select: none;
 }
 p {
     display: inline-block;
     margin: 0px;
 }
 label {
     color: #dedede;
 }
 .green {
     color: #14dea8;
 }
 .max_width{
     max-width: 500px;
 }
 #page {
     display: flex;
     flex-flow: column;
     height: 100vh;
     justify-content: space-between;
 }
  .menu {
      display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #00b8e7;
    border-top: 4px solid #00b8e7;
    border-radius: 25px;
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
 }

 .main_link{
    display: flex;
justify-content: center;
align-items: center;
position: relative;
             margin: 0 auto;
             left: -5%;

 }
 .points_home,.lvl_home{
   z-index: 2;
color: white;
position: absolute;
right: 0;
top: 0;
width: 100px;
height: 35px;
text-align: right;
 }
.main_link:nth-child(even){
 left: 5%;
}
.lvl_home{
  left: 0;
  text-align: left;
}
 /*main menu*/

 .padding5 {
     padding: 5px;
     box-sizing: border-box;
 }
 .flex_res {
     display: flex;
 }
 .padding20 {
     padding: 20px;
     box-sizing: border-box;
 }
 .main_text1 {
      color: #00d2dc;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    letter-spacing: -1px;
    white-space: nowrap;
        justify-content: center;
 }
 .main_text2 {
      color: #00ade9;
    font-weight: bold;
    text-align: center;
    display: flex;
    max-width: 250px;
    width: 50%;
    align-items: flex-start;
    margin-bottom: -1vh;
    height: 7vh;
    border-radius: 1000px;
    border-top: 4px solid #00d5db;
 }
 .flex_res>img {
     padding: 0 5px;
 }
.w_rank, .l_rank{
    width: 10vh;

}
.wrank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
 .text-ico {
     color: #00d2dc;
     font-size: 5vh;
     max-width: 290px;
     font-weight: bold;
 }
 .main-text {
       display: flex;
    margin: 10px 0;
    flex-flow: row;
    float: left;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    height: 20vh;
 }
.head_main_text{
    display: flex;
    width: 100%;
    justify-content: center;
}
.logo_block{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-flow: row-reverse;
         width: 80vw;
    margin: 0 auto;
}

.campaign, .practice_menu , .info, .lessons_menu{
       display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 213, 219);
    border-image: initial;
    border-radius: 20px;
    flex-flow: row-reverse;
    margin: 13% auto;
    height: 10vh;
}
.practice_menu, .info{
     flex-flow: row;
}

.settingsimg{

    height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.settingsimg .img_wrapper{
     width: 10vh;
    height: 10vh;
}
.settingsimg .img_wrapper img{
     width: 8vh;
    height: 8vh;
}

.practice{
      display: flex;
     border:4px solid #00d5db;
     border-radius: 20px;
     align-items: center;
     justify-content: center;

}
.main-text h2 {
        text-align: center;
    display: flex;
    width: 160px;
    justify-content: center;
    flex-flow: column;
        box-sizing: border-box;

 }

  .settings {
     display: flex;
     justify-content: center;
     align-items: center;

 }
 .main-text .settings img, .settings{
     width: 12vh;
 }




 /*inputs*/

 input[type="checkbox"] {
     width: 30px;
     height: 30px;
     background: #252e35;
     display: inline-block;
     vertical-align: middle;
 }
 input {
     text-align: center;
     width: 40px;
     display: inline-block;
     background: #252e35;
     border: none;
     outline: none;
     color: white;
     padding: 10px;
 }
 /*footer*/
#footer{
         width: 80vw;
         margin: 0 auto;
}
 .footer .f1 {
     padding: 5px;
     font-size: 3vh;
     display: block;
     text-align: center;
     color: #00d2dc;
     font-weight: bold;
 }
 .footer .f2 {
     padding: 5px;
     text-align: center;
     color: #00ade9;
     font-size: 2vh;
     font-weight: bold;
 }
 /* page 2  (practice)*/

 .header {
     margin-bottom: 40px;
     height: 8vh;
     display: flex;
     flex-flow: row;
     position: relative;
     align-items: center;
 }
 .header a {
     height: 4vh;
     width: 4vh;
     position: absolute;
     margin: 0 20px;
 }
 .header h1 {
     color: #00ade9;
     font-weight: bold;
 }
 .practice {
     padding: 10px 15px;
 }
 .practice h1 {
     margin: 0 auto;
     display: block;
     width: 60%;
     padding: 5px;
     text-align: center;
     padding-bottom: 20px;
 }
 .circle {
     box-shadow: 5px 5px 15px;
     background: #7fd7bf;
     border: 2px solid white;
     padding: 15px;
     width: 150px;
     margin: 15px auto;
     height: 150px;
     top: 100px;
 }
 .circle:active {
     box-shadow: 1px 1px 15px;
     ;
 }
 .prev {
     height: 4vh;
 }
 .range1 {
     padding: 5px;
     margin: 5px;
     margin-bottom: 20px;
 }
 .range2 {
     padding: 5px;
 }
 .renge3 {
     padding: 5px;
 }
 /*start page*/

 .startbutton {
     background: #252e35;
     border: none;
     outline: none;
     color: white;
     padding: 15px;
     margin-top: 50px;
     font-size: 24px;
 }
 .startbutton:active {
     background: #2e3740;
     margin-top: 52px;
 }
 .startbutton:hover {
     background: #2e3745;
 }
 .cstart {
     margin-top: 60px;
     font-size: 24px;
 }
 /*Bootstrap*/

 .white {
     color: white;
 }
 .clearfix {
     display: table;
     clear: both;
     content: "";
 }
 .layout-positioner {
     width: 80%;
     display: block;
     margin: 10px auto;
     text-align: center;
 }
 .quize-positioner {
     width: 100%;
     max-width: 700px;
     box-sizing: border-box;
 }
 .txt_left {
     text-align: left;
     align-items: center;
     justify-content: space-between;
     margin: 5px 0;
 }
 .txt_left span:first-child {
     max-width: 200px;
 }
 p.white {
     padding: 5px;
 }
 .bold {
     font-weight: bold;
 }
 /*settings*/



 /*Quize*/

 .world-rank, .current-level {
     display: inline-block;
     width: 32%;
     min-width: 100px;
     font-size: 24px;
     box-sizing: border-box;
     width: 50%;
     margin: 5px;
     max-width: 195px
 }

 .bottom-rank {
    display: block;
    padding: 8px;
    border-bottom: 1px solid #00b8e7;
    font-weight: bold;
    border-radius: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .status {
     margin: 5px 0 30px 0;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     width: 80%;
     margin: 0 auto;
     padding: 0 0 40px 0;
 }
 .levels {
     font-weight: bold;
     display: block;
     width: 80%;
     height: 50px;
     margin: 15px auto;
     min-width: 200px;
     max-width: 400px;
     color: white;
     background: rgba(0, 0, 0, 0.5);
 }
 .lessons_wrapper .levels:last-child {
     display: none !important;
 }
 .leftblue, .leftyellow, .leftgreen {
     background: #00ade9;
     height: 100%;
     width: 20px;
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #0c0f12;
 }
 .leftyellow {
     background: #00bbd5;
 }
 .leftgreen {
     background: #27ff00;
 }
 .lvlcont {
     display: flex;
     height: 100%;
     box-sizing: border-box;
     padding: 0px 10px;
     align-items: center;
     justify-content: space-between;
     text-align: left;
     color: #fff;
 }
 .lvlcont p {
    width: 80%;
 }
 /*Lessons*/

 .lessons {
     border-bottom: 3px solid rgba(255, 255, 255, 0.13);
     display: block;
     background: rgba(0, 0, 0, 0.5);
     width: 90%;
     color: white;
     margin: 15px auto;
     display: flex;
     flex-flow: row;
     position: relative;
 }
 .numless {
     position: absolute;
     left: 0;
     top: 0;
     height: 63px;
     width: 63px;
     display: flex;
     justify-content: center;
     font-size: 35px;
     box-sizing: border-box;
     align-items: center;
     color: #000;
     background: #00d2dc;
 }
 .titleless {
     text-overflow: ellipsis;
     overflow-x: hidden;
     white-space: nowrap;
     max-width: calc(100% - 160px);
     width: calc(100% - 135px);
     display: inline-block;
     padding: 19px 0;
     padding-left: 15px;
     font-size: 21px;
     position: relative;
     margin-left: 60px;
 }
 .spoiler {
     background: url(../img/next.png) 50% no-repeat;
     background-position: 12px;
     background-size: 50%;
     cursor: pointer;
     width: 50px;
     height: 50px;
     transform: rotateY(180deg);
 }
 .vidlik_h2 {
     box-sizing: border-box;
     padding: 20px;
 }
 .practiceNow {
     display: block;
     padding-top: 10px;
     margin-bottom: -10px;
     text-align: center;
 }
 .practiceNow div {
     border: 2px solid #33638c;
     padding: 5px;
     font-size: 14px;
     display: inline-block;
 }
 .nextbutton {
     background: rgba(21, 27, 31, 0);
     border: 2px solid #3b83b3;
     outline: none;
     color: white;
     width: 75%;
     display: flex;
     padding: 28px 0;
     justify-content: center;
     font-size: 24px;
     margin: 20px auto;
 }
 .bottom-page {
     margin-top: 85%;
 }
 .modal {
     display: block;
     width: 100%;
     height: 40%;
     background: rgba(0, 0, 0, 0.5);
 }
 .result {
     text-align: center;
     width: 200px;
     max-width: 200px;
     box-sizing: border-box;
     background: rgba(0, 0, 0, 0.5);
     border: none;
     font-size: 18px;
     outline: none;
     font-weight: lighter;
     color: white;
     padding: 10px 25px;
 }
 .resultat {}
 .num {
     height: 50px;
     text-align: center;
     margin-top: 15px;
     font-size: 26px;
     color: #dedede;
 }
 #equalPractice {
     position: absolute;
     bottom: -10px;
     left: calc(50% - 10px);
     color: white;
     font-size: 25px;
 }
 #num_equalPractice {
     position: relative;
 }
 .text_main_style {
     font-size: 21px;
     color: white;
 }
 .text_h1_style {
     font-weight: lighter;
     font-size: 35px;
 }
 .timebar {
     display: flex;
     width: 200px;
     color: #fff;
     margin: 0 auto;
     padding: 0px;
     height: 3px;
     border-radius: 5px;
     background: #252e35;
     position: fixed;
     bottom: 0px;
     left: 0;
     width: 100%;
 }
 .timebar_inside {
     display: flex;
     width: 100%;
     background: #00ade9;
     border-radius: 10px;
 }
 .buttons {
     display: flex;
     justify-content: space-around;
     width: 100%;
     flex-flow: row wrap;
 }
 .btn {
     display: flex;
     background: rgba(21, 27, 31, 0);
     border-radius: 50%;
     outline: none;
     color: white;
     padding: 20px;
     cursor: pointer;
     font-size: 24px;
     margin: 10px;
 }
 .btn:hover {
     border-color: #42b33b;
 }
 .btn img {
     width: 70px;
     height: 70px;
 }
 .home_ico {
     position: relative;
     top: -40px;
 }
 p.home {
     position: absolute;
     width: 100px;
     padding: 40px 0px;
     z-index: -1;
 }
 .btn.home {
     width: 100px;
     position: relative;
     height: 100px;
     border: none;
     margin: 0 auto;
 }
 .btn svg {
     width: 100%;
     fill: #3b83b3;
     height: 100%;
 }
 .btn svg:hover {
     fill: #42b33b;
 }
 .vh5_10 {
     font-size: 5vh;
 }
 .vh4_8 {
     font-size: 4vh;
 }
 .vh2_4 {
     font-size: 2vh;
 }
 .vh1_2 {
     font-size: 1vh;
 }
 .cbalink {
     display: none !important;
 }
 .need_help {
     -webkit-animation: zoom_h 1s;
     animation: zoom_h 1s;
     opacity: 1;
 }
 .iftrue, .iffalse {
     display: flex;
     position: fixed;
     top: calc(50% - 100px);
     left: calc(50% - 100px);
     background: #4fde14;
     width: 200px;
     height: 200px;
     color: #fff;
     align-items: center;
     margin: 0 auto;
     font-size: 60px;
     justify-content: center;
     -webkit-animation: zoom 1s;
     animation: zoom 1s;
     opacity: 0;
 }
 .iffalse {
     background: #ff0000;
 }
 .ng-hide {
     transform: scale(0);
     opacity: 0;
     width: 0;
     height: 0;
     font-size: 0;
     left: 50px;
     top: 50px;
 }
 .Settings {
     display: flex;
     justify-content: center;
     max-width: 600px;
     flex-flow: column;
     margin: 0 auto;
 }
 .lang_settings {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     width: 100%;
     justify-content: center;
     margin: 0 auto;
     max-width: 400px;
     background: #252e35;
     box-sizing: border-box;
     color: #fff;
 }
 .active_lang {
     border: 5px solid #00ade9 !important;
     box-sizing: border-box;
     text-shadow: 0px 0px 15px white;
 }
 .margin20px {
     margin: 20px 0;
 }
 .ru, .en, .ua {
     background-size: 100%;
     background-repeat: no-repeat;
     display: flex;
     width: 100px;
     height: 60px;
     align-items: center;
     font-weight: bold;
     text-transform: uppercase;
     justify-content: center;
     margin: 10px 0;
     cursor: pointer;
     margin-right: 10px;
     /*border: 5px solid #fff;*/
 }
 /* .ua {
     background-image: url(../img/ua.jpeg);
 }
 .ru {
     background-image: url(../img/ru.png);
 }
 .en {
     background-image: url(../img/en.jpg);
 }*/

 .audio_settings {
     display: flex;
     flex-flow: column;
     width: 100%;
     max-width: 400px;
     margin: 0 auto;
 }
 .audio_settings h2 {
     letter-spacing: 10px;
     display: flex;
     justify-content: space-between;
 }
 .audio {
     display: flex;
     justify-content: space-between;
     color: white;
     font-size: 4vh;
     margin: 10px 0;
 }
 input[type=range] {
     -webkit-appearance: none;
     margin: 18px 0;
     width: 100%;
     box-sizing: border-box;
 }
 input[type=range]:focus {
     outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 8.4px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     background: #00ade9;
     border-radius: 1.3px;
     border: 0.2px solid #010101;
 }
 input[type=range]::-webkit-slider-thumb {
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     border: 1px solid #000000;
     height: 36px;
     width: 16px;
     border-radius: 3px;
     background: #ffffff;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -14px;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
     background: #367ebd;
 }
 input[type=range]::-moz-range-track {
     width: 100%;
     height: 8.4px;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     background: #00ade9;
     border-radius: 1.3px;
     border: 0.2px solid #010101;
 }
 input[type=range]::-moz-range-thumb {
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     border: 1px solid #000000;
     height: 36px;
     width: 16px;
     border-radius: 3px;
     background: #ffffff;
     cursor: pointer;
 }
 input[type=range]::-ms-track {
     width: 100%;
     height: 8.4px;
     cursor: pointer;
     animate: 0.2s;
     background: transparent;
     border-color: transparent;
     border-width: 16px 0;
     color: transparent;
 }
 input[type=range]::-ms-fill-lower {
     background: #2a6495;
     border: 0.2px solid #010101;
     border-radius: 2.6px;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }
 input[type=range]::-ms-fill-upper {
     background: #00ade9;
     border: 0.2px solid #010101;
     border-radius: 2.6px;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }
 input[type=range]::-ms-thumb {
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     border: 1px solid #000000;
     height: 36px;
     width: 16px;
     border-radius: 3px;
     background: #ffffff;
     cursor: pointer;
 }
 input[type=range]:focus::-ms-fill-lower {
     background: #00ade9;
 }
 input[type=range]:focus::-ms-fill-upper {
     background: #367ebd;
 }
 input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 8.4px;
     cursor: pointer;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     background: #00ade9;
     border-radius: 1.3px;
     border: 0.2px solid #010101;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
     background: #367ebd;
 }
 input[type=range]::-moz-range-track {
     width: 100%;
     height: 8.4px;
     cursor: pointer;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
     background: #00ade9;
     border-radius: 1.3px;
     border: 0.2px solid #010101;
 }
 input[type=range]::-ms-track {
     width: 100%;
     height: 8.4px;
     cursor: pointer;
     background: transparent;
     border-color: transparent;
     border-width: 16px 0;
     color: transparent;
 }
 input[type=range]::-ms-fill-lower {
     background: #2a6495;
     border: 0.2px solid #010101;
     border-radius: 2.6px;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }
 input[type=range]:focus::-ms-fill-lower {
     background: #00ade9;
 }
 input[type=range]::-ms-fill-upper {
     background: #00ade9;
     border: 0.2px solid #010101;
     border-radius: 2.6px;
     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
 }
 input[type=range]:focus::-ms-fill-upper {
     background: #367ebd;
 }
 .audio_on {
     border-radius: 3px;
     background: rgb(37, 46, 53);
     border: none;
     padding: 10px;
     outline: none;
     cursor: pointer;
     width: 30%;
 }
 #audio_on:focus, #audio_on:hover {
     background: #66a997;
 }
 .status_result {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
 }
 .on {
     color: #fff;
     font-weight: bold;
 }
 .off {
     color: #9c9c9c;
     font-weight: bold;
 }
 @media only screen and (max-width: 500px) {
     /* .status {
         flex-flow: column;
         align-items: center;
     }*/
     .world-rank, .current-level {
         max-width: 100%;
         width: 100%;
     }
 }
 .page.ng-leave {
     z-index: 9999;
 }
 .page.ng-enter {
     z-index: 8888;
 }
 /* contact ---------------------- */

 .page.ng-leave {
     -webkit-animation: slideInDown .5s both ease;
     -moz-animation: slideInDown .5s both ease;
     animation: slideInDown .5s both ease;
 }
 .page.ng-enter {

 }
 /* slide in from the bottom */

 @keyframes slideInUp {
     from {
         opacity: 1;
     }
     to {
         opacity: 0;
     }
 }
 @-moz-keyframes slideInUp {
     from {
         -moz-opacity: 1;
     }
     to {
         -moz-opacity: 0;
     }
 }
 @-webkit-keyframes slideInUp {
     from {
         -webkit-opacity: 1;
     }
     to {
         -webkit-opacity: 0;
     }
 }
 @keyframes slideInDown {
     from {
         opacity: 1;
     }
     to {
         opacity: 0;
     }
 }
 @-moz-keyframes slideInDown {
     from {
         -moz-opacity: 1;
     }
     to {
         -moz-opacity: 0;
     }
 }
 @-webkit-keyframes slideInDown {
     from {
         -webkit-opacity: 1;
     }
     to {
         -webkit-opacity: 0;
     }
 }
 @-webkit-keyframes zoom {
     0% {
         -webkit-transform: scale(0.2);
         transform: scale(0.2);
         opacity: 1;
     }
     70% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }
     100% {
         opacity: 0;
     }
 }
 @keyframes zoom {
     0% {
         -webkit-transform: scale(0.2);
         transform: scale(0.2);
         opacity: 1;
     }
     70% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }
     100% {
         opacity: 0;
     }
 }
 @-webkit-keyframes zoom_h {
     0% {
         -webkit-transform: scale(0.2);
         transform: scale(0.2);
         opacity: 1;
     }
     70% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }
     100% {
         opacity: 1;
     }
 }
 @keyframes zoom_h {
     0% {
         -webkit-transform: scale(0.2);
         transform: scale(0.2);
         opacity: 1;
     }
     70% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }
     100% {
         opacity: 1;
     }
 }
 .vidlik_wrapper {
     display: flex;
     flex-flow: column;
     top: 0;
     left: 0;
     justify-content: center;
     align-items: center;
     position: absolute;
     width: 100%;
     font-size: 30vh;
     color: #dedede;
     height: 100%;
     /* background: black; */
     background: linear-gradient(to bottom, #0a0e11, #313b44) no-repeat;
     background-attachment: fixed;
 }
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 .svg_help {
     width: 20vh;
     height: 20vh;
     right: 0px;
     position: relative;
 }
 .lessons_for_practice {
     color: #ababab;
     width: 80%;
     margin: 0 auto;
 }
 .title_lessons {
     text-align: center;
     margin: 30px 0;
     color: #fff;
 }
 .text_lessons {
     background: rgba(0, 0, 0, 0.5);
     padding: 30px;
     width: 100%;
     color: white;
     box-sizing: border-box;
     font-size: 20px;
 }
 .more {
     /* display: inherit; */
     padding: 0 10px;
     text-decoration: underline;
     font-weight: bold;
 }
 .time_left {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     left: 10px;
     top: -25px;
     color: #00aeea;
     font-weight: bold;
 }
 .verblike_tree {
     background-image: url(../img/tree.svg);
     width: 260px;
     height: 260px;
 }
 .flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
     color: #fff;
     margin: 150px auto;
     max-width: 500px;
 }
 .info_block {
     text-align: center;
     margin-top: 30px;
     color: white;
     padding: 20px;
     border-top: 4px solid #00ade9;
 }
 .fixed {
     text-align: left;
     padding: 20px;
     box-sizing: border-box;
 }

 .flex {
     display: flex;
     width: 100%;
     justify-content: center;
 }
 #hint {
     display: flex;
     justify-content: center;
     padding: 20px;
 }
 .img_wrapper {
        width: 14vh;
    height: 13.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(19,24,28,1) 0%,rgba(23,29,34,1) 100%);
    border-radius: 50%;
    border-bottom: 1px solid #00d5db;
    border-top: 1px solid #00d5db;
    border-left: 1px solid rgb(19,24,28);
    border-right: 1px solid rgb(19,24,28);

 }
.campaign .img_wrapper{
        background: linear-gradient(to bottom, rgba(19,24,28,1) 0%,rgba(23,29,34,1) 100%);
            border-left: 1px solid rgb(19,24,28);
    border-right: 1px solid rgb(19,24,28);
}
.practice_menu .img_wrapper{
         background: linear-gradient(to bottom, rgba(24,30,35,1) 0%,rgba(29,36,41,1) 100%);
    border-left: 1px solid rgb(25, 32, 37);
    border-right: 1px solid rgb(25, 32, 37);
}
.lessons_menu .img_wrapper{
           background: linear-gradient(to bottom, rgba(28,35,41,1) 0%,rgba(34,41,48,1) 100%);
    border-left: 1px solid rgb(30, 37, 43);
    border-right: 1px solid rgb(30, 37, 43);
}
.info .img_wrapper{
        background: linear-gradient(to bottom, rgba(34,41,48,1) 0%,rgba(38,47,54,1) 100%);
    border-left: 1px solid rgb(35, 43, 50);
    border-right: 1px solid rgb(35, 43, 50);
}
.settings_menu .img_wrapper{
           background: linear-gradient(to bottom, rgb(39, 48, 55) 0%,rgb(44, 54, 62) 100%);
    border-left: 1px solid rgb(42, 51, 58);
    border-right: 1px solid rgb(42, 51, 58);
}
 .img_wrapper .index_svg{
     width: 10vh;
     height: 10vh;
 }
 .index_svg_wrapper{
    height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
    padding: 10px;
 }
 .practice_flex {
     height: calc(92vh - 40px);
 }

 .column {
     display: flex;
     flex-flow: column;
     padding: 0 20px;
     box-sizing: border-box;
 }
 .gradient_line{
          background: linear-gradient(to right, #00edd1 0%, #00aeea 100%);
    height: 5px;
    width: 100vw;
 }
 #current_progress {
     font-family: monospace;
 }
 .campaign_wrapper {
     height: calc(92vh - 40px);
 }
 .revers {
     transform: rotateY(180deg);
 }
 .points_svg {
     width: 30px;
     height: 30px;
 }
 .vh3_6 {
     font-size: 3vh;
 }
 .update_settings {
     color: #fff;
     display: flex;
     justify-content: center;
     width: 100%;
     max-width: 400px;
     margin: 20px auto;
     padding: 20px;
     box-sizing: border-box;
     font-weight: bold;
 }
 @media screen and (orientation:landscape) and (max-height: 700px) {

    .w_rank, .l_rank{
    width: 20vh;

}
.main_text2{
        margin-bottom: -2vh;
    height: 14vh;
}
    .campaign, .practice_menu, .info, .lessons_menu{
        height: 20vh;
    }
 .img_wrapper {
     width: 28vh;
     height: 28vh;
 }
    .settingsimg .img_wrapper{
     width: 20vh;
    height: 20vh;
}
.settingsimg .img_wrapper img{
     width: 16vh;
    height: 16vh;
}

 .img_wrapper .index_svg{
     width: 20vh;
     height: 20vh;
 }
     .vh5_10 {
     font-size: 10vh;
 }
     .practice_flex {
         height: calc(45.5vh - 20px);
     }
     .campaign_wrapper {
         height: calc(45.5vh - 20px);
     }
     .index_svg {
         width: 28vh;
         height: 28vh;
     }
     .svg_help {
         width: 40vh;
         height: 40vh;
     }
     .vh4_8 {
         font-size: 8vh;
     }
     .vh2_4 {
         font-size: 4vh;
     }
     .vh1_2 {
         font-size: 2vh;
     }
     .vh3_6 {
         font-size: 6vh;
     }
     #page, html, body {
         height: 200vh;
     }
     .prev {
         height: 8vh;
     }
     .header {
         height: 12vh;
     }
     .header a {
         height: 8vh;
         width: 8vh;
     }

     h1 {
         font-size: 8vh;
     }
     h2 {
         font-size: 6vh;
     }
     .footer .f1, .footer .f2 {
         font-size: 6vh;
     }

     .text-ico {
         font-size: 10vh;
     }
 }
 .info_verblike {
     font-family: 'Sanchez', sans-serif;
     font-size: 50px;
     margin: 20px 0;
 }
 .info_we {
     font-family: 'Sanchez', sans-serif;
     font-size: 21px;
     font-weight: 300;
     line-height: 1.4;
     margin: 0;
     margin-bottom: 20px;
 }
 .link_to_git {
     color: white;
     font-size: 20px;
     text-decoration: underline;
 }
 .buttons .update_arrow {
     width: 60px;
     height: 60px;
 }


@media only screen and (max-width: 500px) {
  .text-ico{
    font-size: 6vw;
  }
}
