<div class="header" >
    <a onclick="goBack()">
        <img class="prev" src="img/next.png"/>
    </a>
    <h1 class="vh5_10">
        {{langs[language].Campaign}}
    </h1>
</div>

<div class="layout-positioner quize-positioner menu" >
    <div class="status">
        <div class="world-rank">
            <div class="wrank white bold vh4_8">
               <img class="w_rank" src="img/w_rank.png" alt="">
               {{langs[language].Worldrank}}
            </div>
            <div ng-if="world_wrank < 9000" class="white bottom-rank vh3_6">
                {{world_wrank}}
            </div>
             <div ng-if="world_wrank > 9000" class="white bottom-rank vh3_6">
                -
            </div>
        </div>
        <div class="current-level">
            <div class="wrank white bold vh4_8">
                <img class="l_rank" src="img/l_rank.png" alt="">
                {{langs[language].Localrank}}
            </div>
            <div class="white bottom-rank vh3_6" >
            	{{langs[language].Yourlevelis}}
                {{lvl}}
            </div>
        </div>
    </div>
   
    <div class="array_of_levels" ng-init="passlvl">
    	 <h2 ng-if='passlvl != 0'>{{langs[language].PassedLevels}}</h2>
    	<a  class="levels" href="#!compain-lvl/{{$index+1}}"  ng-repeat="x in levels | limitTo:passlvl" >
            <div class="leftgreen">
               {{ $index+1}}
            </div>
            <div class="lvlcont">
            	 {{langs[language].Level}}  {{levels[$index].options[7]}}/{{levels[$index].options[7] }}
            </div>
            
        </a>
        <div ng-if="passlvl < levels.length" class="current_level">
		<h2> {{langs[language].CurrentLevel}}</h2>
    	<a    class="levels" href="#!compain-lvl/{{$index+1+passlvl}}">
 			<div class="leftyellow">
               {{ $index+1+passlvl}}
            </div>
            <div class="lvlcont">
            	  {{langs[language].Levelprogress}} {{0}}/{{levels[passlvl].options[7]}}
            </div>
 			</a>
        
 		</div>
        <div ng-if="passlvl == levels.length" class="new_lvl">
            
            <h2>{{langs[language].Newlevelsappearslater}}</h2>
        </div>
       
    </div>
</div>