<div class="menu">
  <div class="status">
    <div class="world-rank">
      <h2 class="wrank">
        <img class="w_rank" src="img/w_rank.png" alt="">
        {{langs[language].Worldrank}}
      </h2>
      <h2 ng-if="world_wrank < 9000" class="bottom-rank ">
        {{world_wrank}}
      </h2>
      <h2 ng-if="world_wrank > 9000" class="bottom-rank ">
        -
      </h2>
    </div>
    <div ng-click="buy=!buy" class="current-level">
      <h2 class="wrank">
        <img class="l_rank" src="img/l_rank.png" alt="">
        {{langs[language].Localrank}}
      </h2>
      <h2 class=" bottom-rank " >
  {{langs[language].All }} <img alt="" class="points_svg revers" src="img/points.svg"> <span> : {{all_points}}</span>

      </h2>
    </div>
  </div>

  <a href="#!historys" class="historys_wrapper btn_hover">
      <span> {{0}}/{{15}} Unlocked</span>
    <div class="history" style="width: {{5/15*100}}%"></div>
    <img class="revers prev" src="img/next.svg" />
  </a>

  <div class="array_of_levels" ng-init="passlvl">
    <h2 ng-if='passlvl != 0'>{{langs[language].PassedLevels}}</h2>
    <a class="levels btn_hover" href="#!compain-lvl/{{$index+1}}" ng-repeat="x in levels | limitTo:passlvl">
      <div class="leftgreen">
        {{ $index+1}}
      </div>
      <div class="lvlcont">
        {{langs[language].Level}} {{levels[$index].options[7]}}/{{levels[$index].options[7] }}
        <img src="img/tick.svg" class="finish" alt="">
      </div>

    </a>
    <div ng-if="passlvl < levels.length" class="current_level">
      <h2> {{langs[language].CurrentLevel}}</h2>
      <a class="levels btn_hover" href="#!compain-lvl/{{$index+1+passlvl}}">
        <div class="leftgreen ">
          {{ $index+1+passlvl}}
        </div>
        <div class="lvlcont">
          {{langs[language].Levelprogress}} {{0}}/{{levels[passlvl].options[7]}}
<img class="revers prev" src="img/next.svg" />
        </div>
      </a>
    </div>
    <div ng-if="passlvl == levels.length" class="new_lvl">
      <h2>{{langs[language].Newlevelsappearslater}}</h2>
    </div>
  </div>
</div>
<div class="modal_buy" ng-hide="!buy">
  <div class="close_img" ng-click="buy=!buy"></div>
  <a class="btn_buy btn_hover" ng-repeat="x in [1,2,3]"> <span class="getPoints">{{($index * 5) * ($index * 2) + 20}} <img alt="" class="points_svg revers" src="img/points.svg"></span> <span>{{$index +  '.99$'}}</span>  </a>
<a class="btn_buy btn_hover" ng-repeat="x in [4,5,6]"> <span class="getPoints">{{($index * 15) * ($index * 2) + 100}} <img alt="" class="points_svg revers" src="img/points.svg"><img alt="" class="points_svg revers" src="img/points.svg"></span> <span>{{$index + 3 + '.99$'}}</span>  </a>
<a class="btn_buy btn_hover" ng-repeat="x in [7,8,9]"> <span class="getPoints">{{($index * 25) * ($index * 2) + 300}} <img alt="" class="points_svg revers" src="img/points.svg"><img alt="" class="points_svg revers" src="img/points.svg"><img alt="" class="points_svg revers" src="img/points.svg"></span> <span>{{$index + 6 + '.99$'}}</span>  </a>
</div>
