<div class="header">
    <a href="#!practice-lvl/{{current_level}}">
        <img class="prev" src="img/next.png"/>
    </a>
    <h1>
        {{langs[language].Lessons}} {{ current_level}}
    </h1>
</div>
<div class="lessons_for_practice">
    <div class="vh4_8 title_lessons">
        {{lesson[current_level].title[language]}}
    </div>
    <p ng-if="lesson.length > current_level" class="vh2_4 text_lessons">
        {{lesson[current_level].content[language]}}
    </p>
    <p ng-if="lesson.length <= current_level" class="vh2_4 text_lessons">
     There is no lesson to this level yet!
    </p>
</div>
