<div class="practice-wrapper" ng-controller="calc_lvl" >
    <div class="practice">
        <a href="#!compain">
            <img class="prev" src="img/next.png"/>
        </a>
        <h1 class="text_h1_style">
            Compain
        </h1>
        <h2>
            {{levels[current_level-1].name}}
        </h2>
    </div>

    <div id="num_equalPractice">
        <div class="num" >
            {{levels[current_level-1].options[0] +' '+levels[current_level-1].options[2]+' '+levels[current_level-1].options[1]}}
        </div>
        <div id="equalPractice">
        </div>
    </div>

    <div class="layout-positioner">
        <div class="layout-positioner" >
            <input class="result" id="result3" ng-model="calc_result" ng-init="calc_result"  placeholder="{{levels[current_level-1].options[3]}}" type="number">
        </div>
		<h1>{{current_progress}}/10</h1>
        <!-- Timer bar -->
        <div class="timebar" >
            <div class="timebar_inside">
	
            </div>
        </div>
        
       	<!-- IF OK -->
		<div class="iftrue" ng-if="calc_result == levels[current_level-1].options[3]">OK</div>
		<div class="iffalse" ng-if="calc_result != levels[current_level-1].options[3]">NO</div>
		<!-- Button to next lvl -->
        <button ng-if="calc_result == levels[current_level-1].options[3]" class="nextbutton" id="nextbutton">NEXT</button>
    </div>
</div>
