<div class="menu">
  <div class="status">
    <div class="world-rank">
      <h2 class="wrank">
        <img class="w_rank" src="img/w_rank.png" alt="">
        {{langs[language].Worldrank}}
      </h2>
      <h2 ng-if="world_wrank < 9000" class="bottom-rank ">
        №{{world_wrank}}
      </h2>
      <h2 ng-if="world_wrank > 9000" class="bottom-rank ">
        -
      </h2>
    </div>
    <div class="current-level">
      <h2 class="wrank">
        <img class="l_rank" src="img/l_rank.png" alt="">
        {{langs[language].Localrank}}
      </h2>
      <h2 class=" bottom-rank ">
        {{langs[language].All }} <img alt="" class="points_svg revers" src="img/points.svg"> <span> : {{all_points}}</span>

      </h2>
    </div>
  </div>
  <div class="array_of_levels">
    <h2>{{langs[language].ALLlevels}}</h2>
    <div  class="levels btn_hover" ng-show="$index+1<pushmore1 && $index+1>pushmore1-11 " ng-repeat="x in levels | limitTo:pushmore1">
      <div class="leftblue">{{$index+1}}</div>
      <a class="lvlcont" href="#!practice-lvl/{{$index+1}}">
        <div class="h2_wrap_scrool">
          <h2 > {{x.name[language]}}</h2>
        </div>
        <img class="revers prev" src="img/next.svg" />
      </a>
    </div>
      <div class="btn_hover btn" ng-hide=""  ng-click="pushless()">{{langs[language].PrevLvl}}</div>
      <div class="btn_hover btn"  ng-click="pushmore()">{{langs[language].NextLvl}}</div>
  </div>

</div>
