<div class="practice-wrapper" ng-controller="practice_lvl_ctrl">
<div class="menu">
            <h2 class="column header_lesson">
                {{levels[current_level-1].name[language]}}
                <br>
               <div class="vh2_4"> {{current_progress}}/{{count_operations}}</div>
            </h2>

        <div id="num_equalPractice">
            <div class="num" id="number_calc">
                {{number[0]}} {{simvol}} {{number[1]}}
            </div>
            <div id="equalPractice">
            </div>
        </div>
        <div class="layout-positioner">
            <div class="layout-positioner">
                <div class="flex">
                    <input class="result" id="result2" ng-init="calc_result_practice" ng-model="calc_result_practice" type="number">
                        <!-- <div ng-click="calc_result_practice = null"><img class="prev" src="img/next.png"/></div> -->
                </div>
            </div>
            <a class="need_help" href="#!lessons-level/{{lvl_less}}" id="hint" ng-hide="false_practice < 2">
                <img alt="help" class="svg_help" src="img/idea.svg">
            </a>
            <!-- Timer bar -->
            <!-- IF OK -->
            <div class="check_anim">
                <div class="iftrue" ng-hide="calc_result_practice != define_result">
                    OK
                </div>
                <div class="iffalse" ng-show="isOk == false">
                    NO
                </div>
                <div class="" ng-show="isOk == null">
                </div>
            </div>
        </div>
    </div>
</div>
