 <div class="header">
		<a  onclick="goBack()"><img class="prev" src="img/next.png"></a>
		<h1 class="vh5_10">{{langs[language].Practice}}</h1>
	</div>

<div class="layout-positioner quize-positioner menu">
 <div class="status">
        <div class="world-rank">
            <div class="wrank white bold vh4_8">
               <img class="w_rank" src="img/w_rank.png" alt="">
               {{langs[language].Worldrank}}
            </div>
            <div ng-if="world_wrank < 9000" class="white bottom-rank vh3_6">
                {{world_wrank}}
            </div>
             <div ng-if="world_wrank > 9000" class="white bottom-rank vh3_6">
                -
            </div>
        </div>
        <div class="current-level">
            <div class="wrank white bold vh4_8">
                <img class="l_rank" src="img/l_rank.png" alt="">
                {{langs[language].Localrank}}
            </div>
            <div class="white bottom-rank vh3_6" >
                {{langs[language].Yourlevelis}}
                {{lvl}}
            </div>
        </div>
    </div>

<h2>{{langs[language].ALLlevels}}</h2>
<div >
<a class="levels" href="#!practice-lvl/{{$index+1}}" ng-repeat="x in levels">
	<div class="leftblue">{{$index+1}}</div>
	<div class="lvlcont">{{x.name[language]}}</div>
</a>
	</div>
</div>