
<div class="menu" ng-controller="settings_ctrl">
<div class="layout-positioner ">
    <div class="Settings">
        <div class="audio_settings">
            <div class="audio ">
                <h2 class="settings_h2">
                    {{langs[language].Audio}} :
                </h2>
                <!-- <button id="audio_button" ng-click="audio = !audio" class="audio_on">
                    <span  class="on"  ng-show="!audio">
                    ON
                    </span>
                    <span class="off"  ng-show="audio">
                    OFF
                    </span>
                </button> -->


            </div>
            <div class="input_wrapper">
              <input id="a_range" max="100" min="0" ng-value="{{r_av_a}}" ng-model="all_volume_audio" step="1" type="range">
            <div class="input_inside1"></div>
          </div>

             <div class="audio ">
                <h2 class="settings_h2">
                    {{langs[language].Sounds}} :
                </h2>
                  <!-- <button id="sounds_button" ng-click="sounds = !sounds" class="audio_on">
                    <span class="on" ng-show="!sounds">
                    ON
                    </span>
                    <span class="off" ng-show="sounds">
                    OFF
                    </span>
                </button> -->

            </div>
              <div class="input_wrapper" >
            <input id="s_range"  max="100" min="0"  ng-value="{{r_av_s}}" ng-model="all_volume_sounds" step="1" type="range">
            <div class="input_inside2"></div>
          </div>
        </div>
        <h2 class="">
            {{langs[language].Language}}:
        </h2>
        <div class="lang_settings">
            <div ng-click="language = ua" class="lang" ng-class="{'active_lang':ua==language}">
                UA
            </div>
            <div ng-click="language = ru" class="lang" ng-class="{'active_lang':ru==language}">
                RU
            </div>
            <div ng-click="language = en" class="lang" ng-class="{'active_lang':en==language}">
                EN
            </div>
        </div>
       <a href="https://play.google.com/store/apps/details?id=lotus.com" class="update_app btn_hover">
            Update  {{vers}}
        </a>
        <a href="https://play.google.com/store/apps/developer?id=publicIQ" class="update_app btn_hover">
             Our products
         </a>

    </div>
</div>
</div>
