<div class="menu" ng-controller="upgrade">
<div class="flex_upgrade">
<div class="home_points_info" >
  <h2  class="info_points">{{langs[language].All }} <img alt="" class="points_svg revers" src="img/points.svg"> <span> : {{all_points}}</span> </h2>
</div>
<div class="home_points_info">
  <h2 class="info_points" ng-click="buy()">{{langs[language].Buymore}} <img alt="" class="points_svg revers" src="img/points.svg"></h2>

</div>

</div>
<h2 class="Congratulations">{{end}}</h2>
<modal class="modal_upgrade" ng-hide="!upgrade_animation">
  <h2 ng-hide="!upgrade_animation" class="Congratulations upgrade_h2" ng-class="{'upgrade_animation':upgrade_animation == true}">
  {{langs[language].Congratulations}}! <br>
    {{langs[language].LevelUP}}! 
  </h2>
</modal>


<div class="brain_upgrade">

<img src="img/upgrade/upgrade{{skill}}.png" ng-class="{'upgrade_animation':upgrade_animation == true}">


</div>

<div ng-click="upgrade()" class="btn_hover upgrade_btn" ng-class="{'notpoints':notpoints}">
    {{langs[language].Upgrade}} {{hint_cost}}
<img src="img/upgrade.svg"  alt="">
</div>

</div>
